[Unit]
Description=proxy cgroup
After=network.target

[Service]
ExecStart=sh /usr/share/cgproxy/scripts/cgroup-tproxy.sh --config=/etc/cgproxy.conf
ExecStop=sh /usr/share/cgproxy/scripts/cgroup-tproxy.sh stop
RemainAfterExit=1

[Install]
WantedBy=multi-user.target
